##################
# Unity ignores:
#
# !!! WARNING !!!
#
# … you MUST convert Unity to using Metafiles *before* you start using this
#  .gitignore file, or you WILL lose data!
#
 
# OS X only:
.DS_Store
*.swp
*.Trashes
 
# All platforms:
Library
Temp
*.csproj
*.pidb
*.unityproj
*.sln
*.userprefs

Spectrum/Library/assetDatabase3

Spectrum/Library/AssetServerCacheV3

Spectrum/Library/guidmapper

Spectrum/Library/metadata/f2/f2bfc4fd283904fd7a28557c951548b3

*.dll

Spectrum/Library/ScriptAssemblies/Assembly-UnityScript.dll.mdb
Spectrum/Assets/Resources/Scripts/Monster.js

Spectrum/Library/ScriptAssemblies/Assembly-UnityScript.dll
